<div class="container">
  <h1> <%= @list.name %> </h1>

  <ul>
    <% @list.movies.each do |list| %>
      <li>
    <%= list.title %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Back', root_path, class: 'btn btn-danger btn-sm' %>

  <%= link_to "Add Bookmark", new_list_bookmark_path(@list), class: 'btn btn-primary' %>
</div>
