<div class="container">
  <h1>New Bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |b| %>
   <%= b.association :movie, prompt: "Select a movie", collection: Movie.all.order(:title),
   input_html: { data: { controller: "select" } } %>
    <%= b.input :comment %>
    <%= b.button :submit %>
  <% end %>
</div>
