<div class="container">
  <h1>movies</h1>
  <ul>
    <% @movies.each do |movie|%>
    <li>
        <%= link_to movie.title, movie_path(movie), class: 'text-decoration-none' %>
    </li>
    <% end %>
  </ul>
</div>
